/*
    ToDo: Herr Lux fragen wegen main-Element umklappen für aside-Element
*/


* {
    padding: 0;
    margin: 0;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main,
header,
footer,
aside {
    display: block;
}


main {
    margin: 1vb;
    padding: 1vb;
    padding-right: calc(25vb);

    float: left;
}


header,
footer {
    width: 100%;
}

nav {
    background-color: rgb(50, 50, 50);
    color: white;

    font-size: large;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0.5em;
}

nav li {
    text-align: center;

    margin: 0px;
    padding: inherit;
    border-right: white 2px solid;

    display: inline;
}

nav li:hover {
    background-color: grey;
}

nav li a {
    display: inline-block;
}

a {
    color: inherit;
    text-align: inherit;
    text-decoration: inherit;
}

a:hover {
    text-decoration: underline;
}

a:active,
a:visited {
    font-style: italic;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

aside {
    margin-left: 1vb;
    padding: 0;

    position: fixed;
    right: 0;
    height: 100%;
    width: 25vb;

    background-color: orange;

    float: right;
}

aside > article {
    margin: 1vb;
}

